{% extends 'base.html' %}

{% load static %}

{% block title %}Courts{% endblock %}

{% block stylesheet %}
<style type="text/css">
	.filter {	
		flex-direction: column;
		flex-wrap: nowrap;
	}

	@media screen and (max-width: 768px) {
		.filter {
			flex-direction: row;
		}

		.filter .list-group-item {
			width: 50%;
			font-size: 12px;
			text-align: center;
			padding: 5px 5px 5px 5px;
		}
	}

	#imgBox {
		width: 100%;
		height: 200px;
		background-position: center center;
		background:url("{% static 'img/noimageavailable.png' %}");
		background-color:#fff;
		background-size: cover;
		background-repeat:no-repeat;
		display: inline-block;
	}

	#imgBox:hover {
		cursor: pointer;
		opacity: .6;
	}

	.courtName {
		color: #000;		
	}

	.courtName:hover {
		text-decoration: none;
		color: gray;
	}
</style>
{% endblock %}

{% block content %}
<div class="row no-gutters">
	<!-- Section of filter -->
	<div class="col-sm-12 col-md-2">
		<form method="post" id="filterForm" enctype="multipart/form-data" class="" novalidate>
			{% csrf_token %}
			<ul class="list-group filter">
				<!-- Filter by order date -->
				<li class="list-group-item">
					<strong>Time</strong>
					<div class="form-group">
						<label for="time">
							Select time:
						</label>
						<select class="form-control" id="time" name="time">
							<option>Anytime</option>
							<option>16:00-18:00</option>
							<option>18:00-20:00</option>
							<option>20:00-22:00</option>
						</select>
					</div>
				</li>
				<!-- Filter by location -->
				<li class="list-group-item">
					<strong>Location</strong>
					<div class="form-group" id="address" data-districts-url="{% url 'load_districts' %}">
						<label for="city">
							Select city:
						</label>
						<select class="form-control" id="city" name="city">
							<option value="-1"
							{% if city %}
								selected
							{% endif %} 
							>
							-----------	
							</option>
							{% for c in cities %}
								<option value="{{c.pk}}"
								{% if city == c %}
								selected 
								{% endif %}
								>
								{{c}}
								</option>
							{% endfor %}
						</select>	
						<label for="district">
							Select district:
						</label>
						<select class="form-control" id="district" name="district">
							<option value="-1"
							{% if district %}
								selected
							{% endif %} 
							>
							-----------	
							</option>
							{% for d in districts %}
								<option value="{{d.pk}}"
								{% if district == d %}
								selected 
								{% endif %}								
								>
								{{d}}
								</option>
							{% endfor %}
						</select>			
					</div>		
				</li>
			</ul>
			<ul class="list-group filter">
				<!-- Filter by price -->
				<li class="list-group-item">
					<strong>Price</strong><br>
					<label>Select price:</label>
					<div class="form-check">
						<label class="form-check-label" for="check3">
							<input type="radio" class="form-check-input" id="radio1" name="price[]" value="1">0-25k
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label" for="check3">
							<input type="radio" class="form-check-input" id="radio2" name="price[]" value="2">25k-50k
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label" for="check4">
							<input type="radio" class="form-check-input" id="radio3" name="price[]" value="3">50k-75k
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label" for="check5">
							<input type="radio" class="form-check-input" id="radio4" name="price[]" value="4">75k-100k
						</label>
					</div>
					<label>Select in range:</label>
					<div class="row">
						<div class="col-6">
							<input type="text" class="form-control" id="min" placeholder="$ Min">
						</div>
						<div class="col-6">
							<input type="text" class="form-control" id="max" placeholder="$ Max">
						</div>
					</div>
				</li>													
				<!-- Sort courts -->
				<li class="list-group-item">
					<strong>Sort</strong>
					<div class="form-group">
						<label for="sort">
							Sort by:
						</label>
						<select class="form-control" id="sort" name="sort">
							<option>Rating</option>
							<option>Likes</option>
							<option>Price</option>
							<option>Destination</option>
						</select>
					</div>
				</li>				
			</ul>
			<div class="text-center mt-2">
				<button type="submit" class="btn btn-primary" name="mycourt">Filter</button>			
			</div>
		</form>
	</div>
	<!-- Section of result (Filtered courts list) -->
	<div class="col-sm-12 col-md-10 mt-3">
		<div id="courtList" class="row m-5">
			{% for court in courts %}
			<div class="col-sm-12 col-md-6 mb-5">
				<div id="court" class="row">
					{% with court.photos.all|first as photo %}
					<div class="col-sm-12 col-md-6">		
						<a href="{% url 'court' court.pk %}">
							<div id="imgBox" style="background-image: url({{photo.photo.url}})">								
							</div>
						</a>	
					</div>
					{% endwith %}	
					<div class="col-sm-12 col-md-6">
						<h4><a href="{% url 'court' court.pk %}" class="courtName">{{court.name}}</a></h4>
						<table class="table table-striped table-sm" style="font-size: 14px;">
							<tr>
								<td><strong>Address:</strong></td>
								<td>{{court.address.district}}, {{court.address}}</td>								
							</tr>
							<tr>
								<td><strong>Phone number:</strong></td>
								<td>{{court.phone_number}}</td>
							</tr>
							<tr>
								<td><strong>Price:</strong></td>
								<td>{{court.price}}</td>
							</tr>
							<tr>
								<td><strong>Start date:</strong></td>
								<td>{{court.created_at|date:"d M, Y"}}</td>
							</tr>
						</table>
					</div>
				</div>	
			</div>
			{% endfor %}
			<!-- Including pagination -->
			{% include 'pagination.html' %}			
		</div>				
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	
	$("#city").change(function () {
		var url = $("#address").attr("data-districts-url");
		var cityId = $(this).val();
		
		$.ajax({
			url: url,
			data: {
				'city': cityId
			},
			success: function(data) {
				$("#district").html(data);				
			}
		});
	});

</script>
{% endblock %}